.leave{
    width: 100%;
    .van-tabs--card>.van-tabs__wrap{
        height: 38px;
    }
    .leavecard{
    margin-top: 15px;;
    width: 90%;
    height: auto;
    margin-left: 5%;
    background: #F0F0F0;
    
    .card{
        margin-bottom: 20px;
        background: white;
        border-radius: 10px;
        position: relative;
        .agree,.veto{
            position: absolute;
            width: 90px;
            height: 90px;
            right:10px ;
        }
        .cardItem{
            display: flex;
            .title {
                float: left;
                padding-left: 10px;
                padding-top: 10px;
              }
            .content{
                padding: 10px 0 0 10px;
            }
        }
        .btn{
            width: 100%;
            height: 35px;
            background: white;
            .van-button--small{
                margin: 0 10px 10px 10px;
                float: right;
            }
        }
    }
}
}
.btn2{
    margin-top: 20px;
    width: 60%;
    background: linear-gradient(to right, #4bb0ff, #6149f6);
}